/* xart.cz CSS override */

/* sloupce a oddělovače (standard) */
.article_column { float: left; overflow: hidden; }
.cols1 { display: block; float: none !important; margin: 0 !important; }
.cols2 { width: 47.5%; margin-left: 5%; }
.cols3 { width: 30%; margin-left: 5%; }
.column1 { margin-left: 0; }
.row_separator { clear: both; height: 1px; }
.leading_separator, .intro_separator, .links_separator, .article_separator { clear: both; height: 12px; overflow: hidden; margin: 10px 0; background: url(../_img/decor.png) no-repeat center; }
.description_separator { display: block; clear: both; margin: 10px 0; padding: 0; border: 0; height: 0; background: none; border-top: 1px solid #22614b; }

/* obrázky (standard) */
a.jcepopup img, a.jcepopup img.img-left { float: left; margin: 4px 16px 5px 0; }
a.jcepopup img.img-right { float: right; margin: 4px 0 5px 16px; }

/* ikona pro editaci (standard) */
div.buttonheading { display: inline; }
div.buttonheading span.hasTip img { float: left; margin: 0 !important; border: 0 !important; background: transparent !important; padding: 0 10px 0 0 !important; }
.tool-tip {float: left; z-index: 999; border: 1px solid #D4D5AA; padding: 5px; background: #FFFFCC; max-width: 200px; color: #000;}
.tool-title { padding: 0; margin: 0; margin-top: -15px; padding-top: 15px; padding-bottom: 5px; background: url(../../system/images/selector-arrow.png) no-repeat; font-size: 100%; font-weight: bold;}
.tool-text { margin: 0; font-size: 100%;}

/* upravené formuláře */
.normal-form label.indent { display: block; float: none; clear: left; }
.normal-form div { margin-bottom: 10px; }
.normal-form div div { margin-bottom: 10px; }
#content .normal-form div .optgroup p { padding-bottom: 0px; }
/* upravené formuláře aj */
.normal-form div.hint { color: #597093; }
.normal-form div.element-box { width: 220px; float: left; }
.normal-form div.submit { clear: both; }
.normal-form .hint .required { color: #A00; }

/* vyhledávání */
.results .highlight { font-weight: bold; }
.results ol.list li { padding-bottom: 15px; }

/* fix: menu */
.mod_custom-button-menu a span { font-size: 12px; font-weight: bold; }

/* fix: breadcrumbs */
#content .mod_breadcrumbs ul { padding: 21px 0 0 0; margin: 0; }
#content .mod_breadcrumbs ul li { padding: 0; margin: 0; background: none; }

/* fix: eshop */
#content #eshop { padding: 0 0 0 18px; line-height: 100%; }
#content #eshop-detail { padding: 22px 0 0 0; line-height: 100%; }
#content .eshop-products-category h2 { font-size: 12px; padding: 8px 5px 4px 5px; }
#content .eshop-products-item h2 { font-size: 12px; padding: 0; }
#content .eshop-products-item p.thumbnail { height: 127px; }
#content .eshop-products-item p.price { padding-bottom: 0; }
#content .eshop-products-item .price { line-height: 16px; }
#content #eshop-detail h1 { margin: 0; background: none; }
#content #eshop-detail ul.thumbnails { padding: 0; margin: 0; }
#content #eshop-detail ul.thumbnails li { padding: 0; margin: 0; background: none; }
#content #eshop-detail .detail-image { padding-top: 1px; }
#content #eshop-detail .detail-description { padding-top: 0; }
#content #eshop-detail ul.more li { padding: 0; margin: 0; background: none; }
#content #basket { padding: 14px 9px 3px 9px; line-height: normal; }
#content #basket h1 { margin:0 -3px 10px -21px; }
#content #basket h2 { font-size: 12px; padding-bottom: 0; }
#basket .delivery .col-left { padding-top: 20px; padding-bottom: 10px; }
#basket .delivery .col-right { padding-top: 20px; padding-bottom: 10px; }
#basket #shipping_info, #basket #payment_info, #basket #shipping_comments { padding-bottom: 18px; }
#basket #shipping_info h2, #basket #payment_info h2, #basket #shipping_comments h2 { font-size: 14px; padding: 0 0 12px 0; }
#xshop_order_details { padding: 0 9px 0 9px; }
#content #xshop_order_details #basket { padding: 14px 0 13px 0; }
#xshop_order_details #order_info, #xshop_order_details #payment_info, #xshop_order_details #shipping_info { margin-bottom: 10px; }
#xshop_order_details a.modal { float: right; line-height: 52px; vertical-align: middle; }
#xshop_order_details table.info { border: 0; border-spacing: 0; border-collapse: collapse; }
#xshop_order_details table.info th { padding: 0 6px 6px 0; }
#xshop_order_details table.info td { padding: 0 0 6px 0; }

/* eshop Facebook */
#eshop-detail .product_facebook_like { padding: 10px 0 0 0; }

/* kompaktní tabulky */
table.compact {margin:0 0 10px 0;border-top:1px solid #22614b;border-left:1px solid #22614b;background:#c1e9dc;}
table.compact th,table.compact td {padding:3px 5px;border-bottom:1px solid #22614b;border-right:1px solid #22614b;font-size: 11px;}
table.compact th {background:#328f6e;color:#fff;}
table.compact tr.highlight td {background:#dbf6ed;}
table.compact tr:hover td {background:#fff;}

/* více obrázků v detailu */
#eshop-detail .detail-image { width: 260px; }
#eshop-detail .detail-image ul.thumbnails { width: 130px; float: left; }
#eshop-detail .detail-description { width: 370px; }

/* menu 3. úroveň */
.mod_custom-produktove-menu li li li a,.mod_custom-produktove-menu li.act li li a,.mod_custom-produktove-menu li.act li.act li a{font-size:11px;font-weight:normal;text-decoration:none;color:#22614b;padding-bottom:0;}
.mod_custom-produktove-menu li.act li.act li.act a, .mod_custom-produktove-menu li.act li.act li a:hover{color:#e78729;}

/* užší taby v detailu */
#eshop-detail  menu.tabs li a span { padding-left: 10px; padding-right: 18px; }

/* SLIDER > */
.mod_marketplace_recentx{position:relative;margin:0 0 9px 0;height:145px;background:url(../_img/bg-slider-bottom.png) no-repeat;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 0 3px #5e9d88;-moz-box-shadow:0 0 3px #5e9d88;box-shadow:0 0 3px #5e9d88;}
#ie6 .mod_marketplace_recentx{overflow:hidden;}
.mod_marketplace_recentx .title{padding:12px 0 20px 75px;color:#fff;font-weight:bold;text-transform:uppercase;}
.mod_marketplace_recentx .more{position:absolute;top:9px;right:84px;}
.mod_marketplace_recentx .more a{font-size:11px;color:#fff;padding:0 0 0 12px;font-weight:bold;background:url(../_img/li.png) no-repeat left;}
#ie6 .mod_marketplace_recentx .more a{background-image:url(../_img/li.gif);}
.mod_marketplace_recentx .scrollable{position:relative;overflow:hidden;width:700px;height:145px;}
.mod_marketplace_recentx .scrollable .items{width:20000em;position:absolute;}
.mod_marketplace_recentx .scrollable .items div{float:left;width:625px;height:145px;padding:0 0 0 75px;}
.mod_marketplace_recentx .scrollable .items div img{border:2px solid #bae1d4;margin:0 5px 0 0;}
.mod_marketplace_recentx .scrollable .items div a:hover img{border:2px solid #90b0a5;}
.mod_marketplace_recentx  .slide-left{position:absolute;top:0;left:0;width:62px;height:145px;background:url(../_img/bg-slider-mask_02.png) no-repeat;}
.mod_marketplace_recentx  .slide-right{position:absolute;top:0;right:0;width:62px;height:145px;background:url(../_img/bg-slider-mask_02.png) no-repeat right;}
.mod_marketplace_recentx .prev,.mod_marketplace_recentx .next{position:absolute;top:49px;width:34px;height:46px;background:url(../_img/arr-slider_02.png) no-repeat;cursor:pointer;}
.mod_marketplace_recentx .prev{left:6px;}
.mod_marketplace_recentx .prev:hover{background-position:left bottom;}
.mod_marketplace_recentx .next{right:5px;background-position:right top;}
.mod_marketplace_recentx .next:hover{background-position:right bottom;}

/* bazar */
div.cofiEntryContent div.cofiEntryContentHeadline {
	background: #22614B;
	color: white;
}
div.cofiEntryContent div.cofiEntryContentText {
	background: #DBF6ED;
}
div.cofiEntryContent div.cofiEntryContentContact {
	background: #92CFBA;
}
div#content table tbody tr td.cofiTableHeader {
	background: #22614B;
	color: white;
}
div#content table tbody tr td.cofiIndexTableRow1 {
	background: #DBF6ED;
}
div#content table tbody tr td.cofiIndexTableRow2 {
	background: #92CFBA;
}

/* náhled před tiskem */
#component #content { padding-top: 0; }
#component #order_info, #component #payment_info, #component #shipping_info, #component .products { margin-bottom: 10px; }

/* mapky */
.mod_custom-regions { float: right; }

/* mapky JC */
.mod_custom-regions { float: none; text-align: center; }

/* IE7 chyby */
#ie7 #eshop-detail .buy input.normal-button { width: 120px; }

.xShopTop { font-weight: bold; color: #E77100; font-size: 14px; line-height: 16px; }

/* xart: ml pretekani zalozek u produktu */
menu.tabs {
    clear: both;  
    width: 655px;     
}

/* xart:ml zobrazeni zakladnich udaju o firme v kontaktech (kvuli zbozi.cz) */
div.maly_kontakt td {
    padding-right:30px;
    padding-bottom:5px;
}

div.maly_kontakt p.jmeno {
    color: #ff6600;
    font-weight: bold;
    font-size: 115%;
}

div.maly_kontakt tr td:first-child, div.maly_kontakt p.dulezite {
    font-weight: bold;
}

/* xart:ml odsazeni videi */
#eshop-detail div.tabs-bottom div.panes div.item iframe {
    margin-bottom: 20px;
}

/* xart:ml seo optimalizace / prvni odkaz na produkty, prohozeni poradi zahlavi */
#change_order {
    position: relative;
}

#order2 {
position: relative;
top: 233px;
}

#order1 {
position: relative;
top: -58px;
}
#order3 {
position: relative;
top: 154px;
}

/* xart:ml 2012-08-29 pro sekci Ptate se */
.-vypis_kategorie p.title {
    font-size: 18px;
    color: #E77100;
    padding: 0 0 10px 0;
    line-height: normal;
    font-weight:bold;
    border-bottom: 1px solid #22614B;
    margin-bottom: 20px;
    margin-top:25px;
    padding-bottom: 19px;
}

.-vypis_kategorie .description_separator {
    margin:0;
    border:0;
}
.news.-vypis_kategorie, .leading.-vypis_kategorie{
    margin-left: 20px;
}
div.contentdescription.-vypis_kategorie p +  p.title {
    margin-top:5px ;
}

div.obsah a {
    margin-left:15px;
}
table form.normal-form label {
	display: block;
}
table form.normal-form label.radio {
	display: inline;
	font-weight: normal;
}
table form.normal-form legend, table form.normal-form label {
	font-weight: bold;
}
form.normal-form div.error-message {
	color:red;
}
p.img img {
	margin-left:326px;
	margin-top:250px;
}
form.normal-form {
	position: relative;
	width:auto;
}
  
table form.normal-form {
	background: transparent;
	padding-top:0px;
	margin-top:0px;
}
/*
form.normal-form p.hint2 {
	position: absolute;
	top: 168px;
	left: 195px;
	width: 445px;
	height: 35px;
	font-style: italic;
}
form.normal-form p.hint {
	position: absolute;
	top: 221px;
	left: 195px;
	width: 445px;
	font-style: italic;
	height: 35px;
}
*/
form.normal-form label.-label_behind{
	width: auto !important;
	height: 22px;
	float: left;
}
form.normal-form fieldset{height: auto !important;}

form.normal-form .-nolabel legend, form.normal-form label.-nolabel {display: none;}
form.normal-form legend.h2, form.normal-form label.h2, div.jfhtml.-bold p strong{
	font-size: 15px;
	color: #E77100; 
	width: auto !important;
	margin-bottom: 10px;
	margin-top: 5px;
	padding-top: 7px;
}

div.-hmotnost_help br, div.jfhtml br {display: none;}
div.-hmotnost_help, div.jfhtml p {color: #555; font-style: italic;}
#content form.normal-form legend.h1 .required {display: none;}
#content form.normal-form label.h1, #content form.normal-form legend.h1, #content form.normal-form h1 {
	font-size: 16px;
	color: #E77100;
	padding: 8px 20px 6px 20px;
	margin: 21px -23px 10px -23px;
	background: #DBF6EC url(../_img/gradient_02.png) repeat-x bottom;
	line-height: normal;
	width: 608px;
}
form.normal-form table.obrazky {margin:0px auto;text-align: center;color: #444; font-style: italic;}
form.normal-form table.obrazky td {padding-right: 10px;padding-bottom: 10px;}
 
#eshop-detail p.excerpt {line-height: 16px;}

#content ul.nested ul {padding: 5px 0 2px 20px;}
#content #eshop div.category_description {line-height: 130%;}
table.vypis_navigace td {padding-right:50px}
#podlaha {color:black}
#test {
color: #FFF;
width: 330px;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: bold;
padding: 10px;
cursor: pointer;
margin-bottom: 10px; }


#eshop .eshop-products-item .akce span{display: none;}

.mod_fb_like_box {clear: both}
#facebooklikebox {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 0 3px #5e9d88;
-moz-box-shadow: 0 0 3px #5e9d88;
box-shadow: 0 0 3px #5e9d88;
background: #dbf6ed;
margin-bottom: 8px;
}

#facebooklikebox div._4s7c {border: 0px !important;}

span.item {min-width: 50px;font-weight: bold;display: inline-block;}

/* xart:ml administrace inzerce na frontendu, 2. krok pri pridavani voziku */
.contactitem small {
	color: #597093;
	margin-left: 20px;
	display: block;
}
.normal-form div.contactitem {
	margin-bottom: 0px;
}
.normal-form div.contactitem.indent {
	margin-bottom: 10px;
}


/* xart:ml mapa nemecka a uprava kontaktu v tabulce pod ni */
.mapa_nemecka div.back{
	text-align: right;
	padding: 10px 0px;
}
.mapa_nemecka div.back a{
	background: url(../_img/li.png) no-repeat right 4px;
	padding-right: 13px;
}

#mapa-de {margin-left: 64px;}

div.blog.deutschland table.normal td:nth-child(1){width:32%}
div.blog.deutschland table.normal td:nth-child(2){width:17%}
div.blog.deutschland table.normal td:nth-child(3){width:28%}
 /*div.blog.deutschland table.normal td:nth-child(4){width:32%} */
 
 /* xart:ml vstupní stránka pro cizojazyčná prodejní místa */
 .vlajky figure img {width: 95px;}
 .vlajky figure {float:left; margin: 0px 20px 20px 0px;}
 .vlajky h2 {}
#content .vlajky a h2{font-size: 18px; color:#22614b}
 .vlajky .separator {clear:both}
 .vlajky .item {height: 58px;width: 300px;}
 
#mpTopmenu {padding-right: 157px;}
#formwrapper {
	padding-bottom: 15px !important;
}


form.specifickapoptavka label{
	display: inline-block;
	min-width: 158px;
	vertical-align: top;
}
form.specifickapoptavka.rezervace label{
	min-width: 90px;
}
form.specifickapoptavka .kontrola-proti-lancmitu{
	display: none;
}
form.specifickapoptavka textarea{
	width: 218px;
	height: 150px;
}
form.specifickapoptavka select {
	width: 235px;
}
	
.miniimg {height: 70px}

.poptavka-produktu .req {color: red}

form.specifickapoptavka.rezervace .right {float:right}
form.specifickapoptavka.rezervace td:first-child {font-weight: bold;padding-right: 5px}


form.specifickapoptavka.rezervace input,
form.specifickapoptavka.rezervace select,
form.specifickapoptavka.rezervace textarea {width: 220px;}

form.specifickapoptavka.rezervace #poptat {
	width: auto;
	margin-left: 255px;
	margin-top: 30px;
}
form.rezervuj .normal-button{
	margin: 10px 15px 20px 0px;
	height: auto;
	padding: 5px 15px;
	font-size: 18px;
}
form.specifickapoptavka div.buttons {text-align: right;}
form.specifickapoptavka div.buttons input {
	margin-right: 195px;
	margin-top: 20px;
}
.poptavka-produktu h2 span {font-size: 13px;}
#poptatprodukttlacitko {
	font-size: 17px;
	color: #22614b;
	width: 230px;
	height: 40px;
	margin-bottom: 20px;
}

/* xart:ps - popup */
#myContent h2 { font-size: 15px; margin-bottom: 8px; }
#myContent h3 { font-size: 12px; margin-bottom: 2px; }

/* xart:ml zvyrazneni polozek menu */
div.mod_xshop_categories.mod_custom-produktove-menu menu li.strong a{
	font-weight: bold;
}

#eshop .eshop-products-item ul {
	text-align: left;
	padding: 0 0 10px 10px;
}
#eshop .eshop-products-item ul li{
	padding: 0 0 1px 12px;
}
#eshop .staticcontent img {
	width: 170px;
	height: auto;
}
#eshop .staticcontent .eshop-products-item p.thumbnail {
	height: auto;
}
#eshop .staticcontent .eshop-products-item h2 {
	height: auto;
}
#eshop .staticcontent .eshop-products-item .description {
	margin: 0 5px 5px 0px;
	text-align: left;
}
#eshop .staticcontent .eshop-products-item .description
/**/ {
	font-size: 12px;
}
#eshop .staticcontent .eshop-products-item {
	height: 272px;
	width: 205px;
}
#eshop .staticcontent .eshop-products-item.longer {
	height: 295px;
}
#eshop .staticcontent .eshop-products-item .thumbnail.addheight {
	margin-bottom: 8px;
}  
#eshop .staticcontent {
	margin-left: -30px;	
}
#content .staticcontent .eshop-products-item h2 {
	font-size: 15px;
}
#eshop .eshop-products-item ul {
	font-size: 11px;
}

#eshop .staticcontent .eshop-products-item .description {      
	height: auto;
	overflow:auto;
}
 

.btnclosecross {
	border: none;
	background-image:url(/templates/vezeko/_img/btnclose2.png);
	background-size: 22px 22px;
	color:#666;
	position:absolute;
	top:1px;
	right:1px;
	width:22px;
	height:22px;
	font-size:10px;
	font-family:arial;
	cursor:pointer;
	
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

a img.miniimg.nove {
	margin: 0px;
	width: 124px;
	height: auto;
}

a.podrobnosti {
	margin-bottom: 10px;
	margin-top: 2px;
}

.cofiEntryContentText.leve_odsazeni .cofiEntryContentText1 {
	width: 57%;
	padding-right: 10px;
}
	
.cofiEntryContentText.leve_odsazeni {
	padding-left: 20px;
}

td.podrobnosti .normal-button {
	width: 100px;
	padding: 0px;
	text-align: center;
}
td.podrobnosti {
	text-align: center;
}

div.results li div.image img {
	width: 120px;
}
div.results li div.image {
	padding: 0px 10px 10px 0px;
	float: left;
}
div.results li {
	clear: both;
}
div.results li div.text {
	
}
div.results li div.text .category_description .name{
	color: #e77100;
}
div.results li div.text .category_description {
	color: #22614b;
	font-style: italic;
}
div.results h4 a {
	/*color: #e77100;*/
	font-size: 17px;
}
#content div.results li {
	background: 0;
	padding-left: 0px;
}

div.results hr {
	margin-bottom: 20px;
	margin-top: 5px;
}
#content div.results ul.list{
	padding-left: 0px;
}

div.results .category_description .inner {font-weight: bold;}

.fb_share {
	display: inline-block;
	margin-top: 10px;
	background: #eceef5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #cad4e7;
	cursor: pointer;
	padding: 2px 6px 4px;
	white-space: nowrap;
	font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
	
}
.fb_share:hover {
	border-color: #9dacce;
}
.fb_share a {
	text-decoration: none;
	color: #3b5998;
	font-size: 11px;
}
.fb_share .sp_like {
	background-image: url(http://static.ak.fbcdn.net/rsrc.php/v2/y-/r/tbhIfdAHjXE.png);
	background-size: auto;
	background-repeat: no-repeat;
	display: inline-block;
	height: 14px;
	width: 14px;
	background-position: 0 -75px;
	position: relative;
	top:2px;
}

.cofiEntryContentText1 .product_facebook_like {
	margin-top: 30px;
	display: inline-block;
}














.rozsireni th label {
	font-weight: normal;
}
.rozsireni th label.checked {
	font-weight: bold;
	/*text-decoration: underline;*/
}

table span.dodatek,
.rozsireni input + label {
	color: grey;
}

.rozsireni th label {
	display: inline-block;
	width: 171px;
	padding: 0 0 7px 16px;
	background: url(../_img/li.png) no-repeat 0 4px;
}

table.zakladni .rozsireni th label{
	display: inline;
	width: auto;
	padding: 0;
	background: 0;
	
}
/*
div.rozsireni {
	position: absolute;
	top: 21px;
	right: 14px;
}
*/
.vyslednacena {
	font-size: 15px;
	color: #e77100;
}
.ajax_get_in_here {
	position: relative;
}

.vyslednacena td,
.vyslednacena th{
	padding: 20px 0px;;
}
.vyslednacena td {
	color: #22614b;
	font-weight: bold;
	font-size: 37px;
}

.zakladni tr.ridici td {
	padding-bottom: 10px;;
}

.zakladni tr.rozsireni td {
	padding-bottom: 20px;;
}
.kontrola-proti-lancmitu {
	display: none;
}

span.req {
	color: red;
}


/* xart:ps - product configurator */
#eshop-detail menu.tabs li a span {padding-left: 7px; padding-right: 15px;}
.mod_product_configurator-xcargo { margin: 0 -34px; }
.mod_product_configurator-xcargo .ajax_get_in_here { }
form.pconfigurator { background: #B6DED0; margin: 0; padding: 0; }
.pconfigurator label { color: #22614B; font-weight: bold; }
.pconfigurator td label { color: #000000; }
.pconfigurator table.zakladni { margin-bottom: 60px; }
.pconfigurator table.zakladni td, .pconfigurator table.zakladni th { border-bottom: 1px solid #92C7B8; vertical-align: top; padding: 15px 0; }
.pconfigurator table.zakladni td.separator { border-bottom: 0; width: 13px; }
@media screen and (min-width:0\0) { .pconfigurator table.zakladni td.separator { width: 6px; } } 
.pconfigurator table.zakladni td.separator.border { border-bottom: 1px solid #92C7B8; }
.pconfigurator table.zakladni th.top, .pconfigurator table.zakladni td.top { vertical-align: top; }
.pconfigurator table span.dodatek { font-weight: normal; }
.pconfigurator input { margin: 0 0 12px 0; vertical-align: text-top; }
.pconfigurator table.zakladni .rozsireni th label { font-weight: bold; }
.pconfigurator .sub-title h2 { font-size: 17px; position: relative; background: #B6DED0; }
.pconfigurator .sub-title { background: url(../_img/conf-title-bg.png) repeat-x center 5px #B6DED0; margin-top: 10px; position: relative; }
.pconfigurator .sub-title span.icon { display: inline-block; background: no-repeat right center #B6DED0; position: absolute; top: -11px; right: 18px; width: 40px; height: 41px; }
.pconfigurator .sub-title.tech-prov h2 { width: 230px; }
.pconfigurator .sub-title.tech-prov span.icon { background-image: url(../_img/conf-bg-tech-prov.png); }
.pconfigurator .sub-title.rozsireni h2 { width: 150px; }
.pconfigurator .sub-title.rozsireni span.icon { background-image: url(../_img/conf-bg-rozsireni.png); }
.pconfigurator .sub-title.kontakt h2 { width: 230px; background-color: #C1E9DD; }
.pconfigurator .sub-title.kontakt span.icon { background-image: url(../_img/conf-bg-kontakt.png); background-color: #C1E9DD; }
.pconfigurator .sub-title.kontakt { background-image: url(../_img/conf-title-bg-light.png); background-color: #C1E9DD; } 
.pconfigurator table.blik { margin-top: 20px; }
.pconfigurator table.blik th { width: 350px; }
.pconfigurator table.blik th, .pconfigurator table.blik td { border-bottom: 1px solid #92C7B8; padding: 11px 0; }
.pconfigurator table.blik label { width: auto; }
.pconfigurator table.blik td label { font-weight: normal; }
.pconfigurator table.blik input { margin-bottom: 0;  }
.pconfigurator table.blik input.checkbox { border: 0; }
.pconfigurator table.blik input.radio { margin-bottom: 12px; }
.pconfigurator table.blik input.mnozstvi { width: 40px; text-align: center; border-radius: 6px; color: #808080; padding: 4px 0; border: 1px solid; border-color: #66918E #EAE9D0 #EAE9D0 #66918E; }
.pconfigurator .rozsireni th label { padding-top: 3px; padding-bottom: 0; font-weight: bold; background-image: url(../_img/conf-arrow.png) }
.pconfigurator .rozsireni td label { color: #808080; }
.pconfigurator .dark-bg { padding: 0 20px; margin-bottom: 30px; padding: 0 35px 0 20px; }
.pconfigurator .light-bg { padding: 30px 35px 50px 20px; background: #C1E9DD; }
.pconfigurator p.contact-info { font-weight: bold; margin: 18px 0 25px; line-height: 18px; }
.pconfigurator .light-bg table { margin-left: 80px; }
.pconfigurator .light-bg table th { width: 180px; }
.pconfigurator .light-bg table th { vertical-align: top; }
.pconfigurator .light-bg table td { vertical-align: middle; padding-bottom: 8px; }
.pconfigurator .light-bg table input, .pconfigurator .light-bg table textarea { color: #000000; width: 250px; border-radius: 6px; color: #808080; padding: 8px 0 4px 5px; border: 1px solid; border-color: #66918E #EAE9D0 #EAE9D0 #66918E; margin-bottom: 0; }
.pconfigurator .light-bg table select { width: 256px; color: #000000; padding: 5px; border-radius: 6px; }
.pconfigurator .light-bg table textarea { height: 100px; }
.pconfigurator #poptatprodukttlacitko2 { width: auto; font-size: 14px; text-transform: uppercase; height: auto; box-shadow: 0; padding: 15px 45px; margin-left: 280px; margin-top: -40px; border: 6px solid #0C5B45; background: linear-gradient( 90deg, #90C3B4, #0C5B45) repeat scroll 0 0 rgba(0, 0, 0, 0); color: #ffffff; }
.pconfigurator #poptatprodukttlacitko2:hover { background: #0C5B45; }
.pconfigurator label.checked { color: #E77100 !important; font-weight: bold !important; }
.pconfigurator .cena-panel { margin: 0; position: fixed; width: 700px; bottom: 0; z-index: 999; }
.pconfigurator .cena-panel .inner { background: url("../_img/conf-bg-cena-wide.png") no-repeat scroll 0 0 transparent; margin-bottom: 0; height: 88px; line-height: 88px; margin-bottom: -9px; }
.pconfigurator .cena-panel h3 { color: #E77100; font-size: 19px !important; width: 190px; float: left; margin-left: 23px;  padding-bottom: 0 !important; margin-top: 30px; }
.pconfigurator .cena-panel .vyslednacena { float: left; /*background: #559A85; */text-align: center; padding: 0 60px; margin: 0 0 0 35px; }
.pconfigurator .cena-panel .vyslednacena span { margin: auto; color: #ffffff; font-weight: bold; font-size: 34px; }
.pconfigurator .cena-panel .cleaner { margin: 0; }
.pconfigurator .cena-panel span.icon { display: inline-block; background: url(../_img/conf-bg-cena.png) no-repeat right center #D7F6ED; position: absolute; top: 15px; right: 39px; width: 40px; height: 41px; }

/* /xart:ps */

/*
<div class="bottom">
    <table>
	    <tr>
		    <td><h4>Nevíte si rady?</h4></td>
			<td class="green"><img src="http://www.vezeko.cz/templates/vezeko/_img/phone.png" alt="Volejte"/>Volejte 566 503 411</td>
			<td class="green"><img src="http://www.vezeko.cz/templates/vezeko/_img/screen.png" alt="Pište"/>Pište na <a href="mailto:prodej@vezeko.cz">prodej@vezeko.cz</a></td>
		</tr>
	</table>
</div>
*/

span.neni-v-nabidce {font-weight: bold; color: #e77100; font-size: 16px; }
.normal-button.bigger {margin: 10px 15px 20px 0px; height: auto; padding: 5px 15px; font-size: 18px; text-align: center; }
.normal-button.bigger small {font-size: 11px; }
.pconfigurator .info {color: grey; font-weight: normal; }
.pconfigurator .info .hint {color: #E77100; }
.pconfigurator #poptatprodukttlacitko2 {background: #90c3b4; /* Old browsers */ /* IE9 SVG, needs conditional override of 'filter' to 'none' */ background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkwYzNiNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYzViNDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top,  #90c3b4 0%, #0c5b45 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#90c3b4), color-stop(100%,#0c5b45)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #90c3b4 0%,#0c5b45 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #90c3b4 0%,#0c5b45 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #90c3b4 0%,#0c5b45 100%); /* IE10+ */ background: linear-gradient(to bottom,  #90c3b4 0%,#0c5b45 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90c3b4', endColorstr='#0c5b45',GradientType=0 ); /* IE6-8 */ padding: 15px 34px; font-size: 17px; }
.pconfigurator .cena-panel .vyslednacena {position: relative; }
.pconfigurator .cena-panel .vyslednacena span.cena-s-dph {font-weight: normal; font-size: 14px; position: absolute; top: 63px; left: 60px; }
.pconfigurator .cena-panel .vyslednacena span br {font-size: 10px; }
.pconfigurator .cena-panel .vyslednacena span.cena{line-height: 10px; }
.pconfigurator .cena-panel .vyslednacena span.cena-s-dph span{font-weight: bold; font-size: 16px; }
.pconfigurator .cena-panel .inner {height: 106px; margin-bottom: 2px; }
.pconfigurator .light-bg {margin-top: -10px; }
.odeslany-formular {background: #dcf7ee; padding: 20px; border-left: 25px solid #22614B; margin:0px 0px 20px 0px; }
.zobrazit-formular {margin: 20px; }

.pconfigurator .cena-panel .bottom { position: absolute; top: 120px; width: 100%; }
.pconfigurator .cena-panel .bottom table {  }
.pconfigurator .cena-panel .bottom table h4 { color: #E77100; float: left; font-size: 18px !important; margin: 0 0 0 23px; padding: 0; font-weight: normal; } 
.pconfigurator .cena-panel .bottom table td { width: 175px; }
.pconfigurator .cena-panel .bottom table .green { color: #22614b; font-size: 18px; }
.pconfigurator .cena-panel .bottom table .green.phone { width: 240px; }
.pconfigurator .cena-panel .bottom table .green.mail { width: 270px; }
.pconfigurator .cena-panel .bottom table .green img { display: inline-block; margin: 0 8px 0 0; vertical-align: middle; }
.pconfigurator .cena-panel .bottom table a { text-decoration: none; }
.pconfigurator .cena-panel .bottom table a:hover { text-decoration: underline; } 
.pconfigurator .cena-panel .inner { background: url("../_img/conf-bg-cena-wide-new.png") no-repeat scroll 0 0 transparent; height: 168px !important; }
.pconfigurator .light-bg { margin-top: 5px; background-color: #C9EBDF; }
.product_configurator_print { position: absolute; bottom: 0; left: 98px; display: block; background: url("../_img/conf-print.png") no-repeat scroll 0 bottom transparent; width: 90px; height: 100px; text-align: center; }
.product_configurator_print span { text-decoration: underline; font-size: 11px; color: #22614b; text-transform: uppercase; font-weight: bold; }
.product_configurator_print:hover span { text-decoration: none; }


/* xart:ps - konfigurátor titbit */
.pconfigurator.titbit th.lozna_plocha { width: 120px; }
.pconfigurator.titbit td.lozna_plocha { width: 250px; } 
.pconfigurator.titbit th.provedeni { width: 80px; }
.pconfigurator.titbit td.provedeni { width: 150px; }
