/* CSS Document */

/* font */
@import url(http://fonts.googleapis.com/css?family=Courgette&subset=latin,latin-ext);
/* css reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;min-height:0;}
table,tr,th,td{vertical-align:top;}
table#cenik td { vertical-align: middle; }
ul,ul li,menu,menu li{margin:0;padding:0;list-style:none}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
/* remember to highlight inserts somehow! */
ins{text-decoration:none;}
del{text-decoration:line-through;}
/* tables still need 'cellspacing="0"' in the markup */
table{border-collapse:collapse;border-spacing:0;}
th{text-align:left;}
input,textarea{font-family:sans-serif;font-size:100%}
/* IE stretched buttons fix */
input.submit{width:0;overflow:visible;}
input.submit[class]{width:auto;}
/* css reset end */ 


/* elements */
body{font-size:12px;font-family:Arial,Helvetica,sans-serif;color:#000;text-align:center;background:#e77100 url(../_img/bg.png) repeat-x 0 -82px;}
#homepage {background:url(../_img/bg.png) repeat-x;}
a{color:#22614b;} 
a:hover{text-decoration:none;}

a.link{font-weight: bold; padding:0 12px 0 0;white-space:nowrap;background:url(../_img/li.png) no-repeat right;}

#content h1,#content h2,#content h3,#content h4{padding:0 0 10px 0;line-height:normal;}
#content h1{font-size:16px;color:#e77100;padding:18px 20px 16px 20px;margin:0 -23px 10px -23px;background:#dbf6ec url(../_img/gradient_02.png) repeat-x bottom;} 
#content h2{font-size:15px;color:#e77100;}
#content h3{font-size:13px;}
#content h4{font-size:12px;}

#content p{padding:0 0 10px 0;}

#content ul{padding:0 0 10px 20px;}
#content ul ul{padding:10px 0 0 20px;}
#content ul li{padding:0 0 8px 16px; margin:0 0 0 0;background:url(../_img/li.png) no-repeat 0 4px;}
#ie6 #content ul li{height:0;}

table.normal{margin:0 0 10px 0;border-top:1px solid #22614b;border-left:1px solid #22614b;background:#c1e9dc;}
table.normal th,table.normal td{padding:5px 7px;border-bottom:1px solid #22614b;border-right:1px solid #22614b;}
table.normal th{background:#328f6e;color:#fff;}
table.normal tr.highlight td{background:#dbf6ed;}
table.normal tr:hover td{background:#fff;}

form.normal-form{position:relative;margin:10px 0;padding:20px;background:#dcf7ee;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
#ie6 form.normal-form{height:100%;}
form.normal-form label{padding:0 10px 0 0;}
form.normal-form input.input-field-long,form.normal-form input.input-field-short,form.normal-form textarea{border:1px solid #7eb9a5;color:#525252;padding:3px 7px;margin:0;background:#fff;width:220px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
form.normal-form textarea{padding:7px;width:auto;}
form.normal-form input.input-field-short{width:160px;}
form.normal-form select{border:1px solid #7eb9a5;color:#525252;padding:1px;margin:0;background:#fff;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.normal-button{position:relative;display:inline-block;border:0;padding:0 10px;margin:0;color:#525252;font-weight:bold;font-size:11px;height:25px;line-height:25px;text-decoration:none;border-top:1px solid #fff;cursor:pointer;background:#edf1ee;background:-webkit-gradient(linear,0 0,0 bottom,from(#edf1ee),to(#d0d4d1));background:-moz-linear-gradient(#edf1ee,#d0d4d1);background:linear-gradient(#edf1ee,#d0d4d1);-pie-background:linear-gradient(#edf1ee,#d0d4d1);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;box-shadow:1px 1px 1px #465651;}
.normal-button:hover{color:#fff;background:#ff9937;background:-webkit-gradient(linear,0 0,0 bottom,from(#ff9937),to(#e87201));background:-moz-linear-gradient(#ff9937,#e87201);background:linear-gradient(#ff9937,#e87201);-pie-background:linear-gradient(#ff9937,#e87201);}
.normal-button:focus{color:#fff;background:#e87201;background:-webkit-gradient(linear,0 0,0 bottom,from(#e87201),to(#ff9937));background:-moz-linear-gradient(#e87201,#ff9937);background:linear-gradient(#e87201,#ff9937);-pie-background:linear-gradient(#e87201,#ff9937);}

div.pagehub{text-align:center;padding:5px 0;}
div.pagehub a,div.pagehub span{position:relative;display:inline-block;height:22px;line-height:22px;width:22px;color:#22614b;text-decoration:none;background:#dbf6ed;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
div.pagehub a:hover,div.pagehub span.pagenav{background:#22614b;color:#fff;}

.colored-grey{color:#6b6b6b;}
.colored-blue{color:navy;}
.colored-orange{color:#e78729;}
.colored-green{color:#22614b;}

.clear-decor{clear:both; height:12px; overflow:hidden;margin:10px 0;background: url(../_img/decor.png) no-repeat center;}

hr{margin:10px 0; padding:0; border:0; height:0; background:none;border-top:1px solid #22614b;}

#content img.img-left{float:left;margin:4px 16px 5px 0;}
#content img.img-right{float:right;margin:4px 0 5px 16px;}

a.jcepopup img{border:1px solid #22614b;padding:1px;background:#90b0a5;}
a.jcepopup:hover img{border:1px solid #90b0a5;}


.r{text-align:right !important;}
.c{text-align:center !important;}
.l{text-align:left !important;}
.j{text-align:justify !important;}
.cleaner{display:block;clear:both;height:0;overflow:hidden;float:none;}
#ie6 .cleaner{height:1px;margin:0 0 -1px 0;}
.nodisplay{display:none;}

.float-l{float:left!important;}
.float-r{float:right!important;}

/* LAYOUT > */
#page{width:1216px;margin:0 auto;text-align:left;background:#92cfba;}
#col-main{width:940px;float:right;padding:0 18px 0 0;}
#container{position:relative;}
#col-center{width: 700px;float: left;}
#col-left{width:230px;float:left;padding:0 0 0 18px;}
#col-right{float: right;width: 230px;}
#news{padding:6px 0 0 0;}
#content{*zoom:1;position: relative;margin: 0 0 9px;padding:5px 29px 30px 29px;line-height:130%;background:#b6ded0 url(../_img/bg-content-full.png) no-repeat;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 0 3px #5e9d88;-moz-box-shadow:0 0 3px #5e9d88;box-shadow:0 0 3px #5e9d88;}
#content:before,#content:after{display:table;content:"";}
#content:after{clear:both;}
#eshop{padding:5px 29px 30px 47px;}
#eshop-detail{padding:27px 29px 30px 29px;}
#basket{padding:19px 20px 27px 20px;}

/* HEADER > */
#page-header{position:relative;height:238px;background:url(../_img/bg-header.png) no-repeat bottom;}
#subpage #page-header{height:156px;}
#page-header .logo{position:absolute;top:0;left:24px;width:417px;}
#page-header .logo a{font-size:20px;text-decoration: none;}

.mod_custom-slogan{position: relative;}
.mod_custom-slogan .slogan{position:absolute;top:30px;left:500px;width:361px;height:59px;padding:8px 0 0 0;}
#homepage .mod_custom-slogan .slogan{top:148px;left:0;padding:8px 0 0 0;}
.mod_custom-slogan .slogan li{width:104px;text-align:right;padding:0 13px 1px 0;font-weight:bold;color:#113025;background:url(../_img/li.png) no-repeat right 4px;}
.mod_custom-slogan .text{position: absolute;left: 640px;top: 30px;padding: 16px 0 0 40px;font-size: 34px;line-height: 1;color: #113025;min-height: 68px;font-family: 'Courgette',sans-serif;background: url(../_img/separator.png) no-repeat;}
#homepage .mod_custom-slogan .text{left: 139px;top: 147px;padding: 16px 0 0 106px;}

.mod_custom-slideshow-header{position:absolute;top:26px;left:670px;width:436px;height:166px;background:url(../_img/bg-slider-header.png) no-repeat;}
.mod_custom-slideshow-header .scrollable{position:relative;overflow:hidden;width:436px;height:166px;}
.mod_custom-slideshow-header .scrollable .items{width:20000em;position:absolute;}
.mod_custom-slideshow-header .scrollable .items div{float:left;width:436px;height:166px;text-align:center;}
.mod_custom-slideshow-header  .slide-left{position:absolute;top:0;left:0;width:58px;height:166px;background:url(../_img/bg-slider-mask.png) no-repeat;}
.mod_custom-slideshow-header  .slide-right{position:absolute;top:0;right:0;width:58px;height:166px;background:url(../_img/bg-slider-mask.png) no-repeat right;}
.mod_custom-slideshow-header .prev, .mod_custom-slideshow-header .next{position:absolute;top:60px;width:37px;height:50px;background:url(../_img/arr-slider.png) no-repeat;cursor:pointer;}
.mod_custom-slideshow-header .prev{left:0;}
.mod_custom-slideshow-header .prev:hover{background-position:left bottom;}
.mod_custom-slideshow-header .next{right:0;background-position:right top;}
.mod_custom-slideshow-header .next:hover{right:0;background-position:right bottom;}

#page-header .mod_search{position:absolute;bottom:2px;right:0;height:22px;padding:12px 235px 0 45px;background:url(../_img/bg-menu-nav.png) no-repeat;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;}
#ie6 #page-header .mod_search{background-position:center;padding-left:20px;}
#page-header .mod_search form{position:absolute;top:6px;right:23px;}
#page-header .mod_search .text{float:left;border:0;margin:0 4px 0 0;width:161px;height:14px;padding:6px 7px;font-size:11px;color:#22614b;background:#92cfba url(../_img/search.png) no-repeat;}
#page-header .mod_search .text:hover, #strip-nav .mod_search .text:focus{background-position:left bottom;}
#page-header .mod_search .button{float:left;border:0;margin:0;width:26px;height:26px;padding:0;background:#92cfba url(../_img/search.png) no-repeat right top;cursor:pointer;}
#page-header .mod_search .button:hover, #strip-nav .mod_search .button:focus{background-position:right bottom;}
#page-header .menu-nav li{display:inline;font-weight:bold;padding:0 0 0 3px;color:#22614b;}
#page-header .menu-nav li a{margin:0 9px 0 0;font-size:11px;text-decoration:none;}
#page-header .menu-nav li a:hover{color:#000;}


.mod_jflanguageselection{position:absolute;bottom:49px;right:3px;}
.mod_jflanguageselection li{position:relative;width:23px;height:15px;float:left;margin:0 0 0 9px;box-shadow:3px 3px 6px #333;}
.mod_jflanguageselection img{border:1px solid #fff;opacity:0.7;-moz-opacity:0.7;filter:alpha(opacity=70);}
.mod_jflanguageselection li.act img, .mod_jflanguageselection a:hover img{opacity:1;-moz-opacity:1;filter:alpha(opacity=100);}

/* MAINMENU > */
#strip-nav{position:relative;height:53px;background:#d0efe5 url(../_img/bg-mainmenu.png) no-repeat;}
#strip-nav .mod_mainmenu{position:absolute;top:3px;left:20px;}
#strip-nav .mod_mainmenu li{float:left;}
#strip-nav .mod_mainmenu li a{display:inline-block;line-height:40px;font-weight:bold;font-size:13px;text-decoration:none;padding:0 23px;background:url(../_img/separator.gif) no-repeat left;}
#strip-nav .mod_mainmenu li:first-child a{background:none;}
#strip-nav .mod_mainmenu li.act{background:url(../_img/bg-mainmenu-act.png) repeat-x;}
#strip-nav .mod_mainmenu li a:hover{color:#000;}
#strip-nav .mod_custom-fb{position:absolute;top:0;right:-31px;}

/* HOMEPAGE > */
.mod_custom-intro{*zoom:1;position: relative;margin: 0 0 9px;padding: 35px;background:#b6ded0 url(../_img/bg-content.png) no-repeat;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 0 3px #5e9d88;-moz-box-shadow:0 0 3px #5e9d88;box-shadow:0 0 3px #5e9d88;}
.mod_custom-intro:before,.mod_custom-intro:after{display:table;content:"";}
.mod_custom-intro:after{clear:both;}
.mod_custom-intro .mod-left{width: 330px;float: left;}
.mod_custom-intro .mod-left p{margin: 0 0 20px;}
.mod_custom-intro .mod-left ul{margin: 0 0 16px 20px;}
.mod_custom-intro .mod-left ul li{padding: 0 0 3px 12px;background: url(../_img/li.png) 0 2px no-repeat;}
.mod_custom-intro .mod-left nav{padding: 6px 0 10px 0;}
.mod_custom-intro .mod-left nav a{display: inline-block;height: 50px;width: 100px;padding: 15px 30px 0 20px;margin: 0 10px 0 0;font-weight: bold;color: #fff;font-size: 14px;text-transform: uppercase;text-decoration: none;background: #e78729 url(../_img/btn-short.png) no-repeat left bottom;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.3);-moz-box-shadow: 0 0 4px rgba(0,0,0,0.3);box-shadow: 0 0 4px rgba(0,0,0,0.3);}
.mod_custom-intro .mod-left nav a:hover{background-position: left top;}
.mod_custom-intro p.mod-title{margin: 0 0 14px;padding: 0;font-size: 20px;color: #e78729;font-size: 24px;line-height: 1;font-weight: bold;}
.mod_custom-intro .map{width: 330px;height: 220px;margin: 3px -35px 9px;}
.mod_custom-intro .map .line1{padding: 90px 0 0 55px;font-size: 18px;line-height: 1;font-family: 'Courgette',sans-serif;}
.mod_custom-intro .map .line1 mark{background: none;color: #e78729;font-size: 26px;}
.mod_custom-intro .map .line2{padding: 0 0 0 140px;font-size: 19px;line-height: 1;font-family: 'Courgette',sans-serif;}
.mod_custom-intro .map .line3{padding: 3px 0 0 150px;}
.mod_custom-intro .map.cr{background: url(../_img/map-cr.png) no-repeat;}
.mod_custom-intro .map.eu{background: url(../_img/map-eu.png) no-repeat;}
.mod_custom-intro .map.eu .line1{padding: 85px 0 0 150px;}
.mod_custom-intro .map.eu .line2{padding: 0 0 0 125px;}
.mod_custom-intro .mod-right{width: 260px;float: right;}
.mod_custom-intro .mod-right select{margin: 0 0 13px;padding: 0 13px;border: 1px solid #7c9e9c;border-bottom-color: #ebebd4;border-right-color: #ebebd4;width: 260px;font-size: 12px;height: 34px;outline: none;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.mod_custom-intro .mod-right input[type=submit]{margin: 0;padding: 0;border: 0;height: 65px;width: 260px;color: #fff;font-size: 16px;font-weight: bold;text-transform: uppercase;text-align: center;cursor: pointer;background: #22614b url(../_img/btn-big.png) no-repeat top left;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.3);-moz-box-shadow: 0 0 4px rgba(0,0,0,0.3);box-shadow: 0 0 4px rgba(0,0,0,0.3);}
.mod_custom-intro .mod-right input[type=submit]:hover{background-position: left bottom;}

.mod_custom-vyroba{*zoom:1;position: relative;margin: 0 0 9px;padding: 35px;background:#f2fffb;font-size: 13px;line-height: 1.3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 0 3px #5e9d88;-moz-box-shadow:0 0 3px #5e9d88;box-shadow:0 0 3px #5e9d88;}
.mod_custom-vyroba:before,.mod_custom-vyroba:after{display:table;content:"";}
.mod_custom-vyroba:after{clear:both;}
.mod_custom-vyroba figure{float: right;margin: -35px -35px -35px 0;width: 240px;}
.mod_custom-vyroba figure img{display: block;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.mod_custom-vyroba .content{float: left;width: 400px;}
.mod_custom-vyroba p{margin: 0 0 20px;}
.mod_custom-vyroba p.mod-title{margin: 0 0 15px;padding: 0;font-size: 20px;color: #e78729;font-size: 24px;line-height: 1;font-weight: bold;}
.mod_custom-vyroba nav{padding: 18px 0 0;margin: 0 -20px;background: url(../_img/decor.png) no-repeat top;}
.mod_custom-vyroba nav a{display: inline-block;padding: 0 0 0 24px;margin: 0 0 0 15px;font-weight: bold;white-space: nowrap;height: 29px;line-height: 29px;font-size: 12px;background: url(../_img/arr-big.png) no-repeat;}

.mod_custom-about{*zoom:1;position: relative;margin: 0 0 9px;padding: 35px 35px 26px;background:#dcf7ee;font-size: 13px;line-height: 1.3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 0 3px #5e9d88;-moz-box-shadow:0 0 3px #5e9d88;box-shadow:0 0 3px #5e9d88;}
.mod_custom-about:before,.mod_custom-about:after{display:table;content:"";}
.mod_custom-about:after{clear:both;}
.mod_custom-about p.mod-title{margin: 0 0 20px;padding: 0;font-size: 21px;color: #22614b;line-height: 1;font-weight: bold;}
.mod_custom-about nav{float: right;padding: 5px 0 0;}
.mod_custom-about nav a{display: block;padding: 0 0 0 12px;background: url(../_img/li.png) no-repeat 0 4px;}
.mod_custom-about section{*zoom:1;margin: 0 0 0 -40px;}
.mod_custom-about section:before,.mod_custom-about section:after{display:table;content:"";}
.mod_custom-about section:after{clear:both;}
.mod_custom-about article{position: relative;float: left;width: 183px;margin: 0 0 0 40px;color: #22614b;font-size: 12px;line-height: 1.4;min-height: 95px;}
.mod_custom-about article:before{content: '';position: absolute;top: 0;left: -16px;height: 100%;width: 1px;background: #a9dbca;}
.mod_custom-about article:first-child:before{display: none;}
.mod_custom-about article .author{text-align: right;font-style: italic;color: #e78729;}

.mod_custom-neprehlednete{*zoom:1;position: relative;margin: 0 0 9px;padding: 28px 20px;background:#f4fffc;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 0 3px #5e9d88;-moz-box-shadow:0 0 3px #5e9d88;box-shadow:0 0 3px #5e9d88;}
.mod_custom-neprehlednete:before,.mod_custom-neprehlednete:after{display:table;content:"";}
.mod_custom-neprehlednete:after{clear:both;}
.mod_custom-neprehlednete p.mod-title{margin: 0 0 0;padding: 0;font-size: 23px;color: #22614b;line-height: 1;font-family: 'Courgette',sans-serif;}
.mod_custom-neprehlednete article{padding: 17px 0 0;margin: 0 0 23px;background: url(../_img/decor.png) no-repeat top;}
.mod_custom-neprehlednete article:first-of-type{background: none;}
.mod_custom-neprehlednete article h4{font-size: 14px;line-height: 1.2;color: #e78729;font-weight: bold;margin: 0 0 8px;}
.mod_custom-neprehlednete article a{color: #e78729;}
.mod_custom-neprehlednete article p{margin: 0 0 16px;}
.mod_custom-neprehlednete article nav a{display: block;height: 37px;line-height: 37px;padding: 0 0 0 22px;text-decoration: none;color: #fff;font-size: 12px;font-weight: bold;background: url(../_img/btn-nav.png) no-repeat;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.3);-moz-box-shadow: 0 0 4px rgba(0,0,0,0.3);box-shadow: 0 0 4px rgba(0,0,0,0.3);}
.mod_custom-neprehlednete article nav a:hover{background-position: left bottom;}

.mod_newsflash-main{width:240px;float:left;line-height:14px;padding:22px 0 0 36px;}
.mod_newsflash-main time{font-weight:bold;color:#e78729;font-size:13px;}
.mod_newsflash-main h1{color:#22614b;padding:0 0 13px 0;}
.mod_newsflash-main .thumbnail{padding:0 0 11px 0;}
.mod_newsflash-main .thumbnail img{border:1px solid #22614b;padding:1px;background:#90b0a5;}
.mod_newsflash-main .thumbnail a:hover img{border:1px solid #90b0a5;}
.mod_newsflash-main p{padding:0 0 15px 0;}
.mod_newsflash-main p.more{padding:4px 0 15px 0;}
.mod_newsflash-main p.more a{padding:0 0 0 14px;font-weight:bold;background:url(../_img/li.png) no-repeat left;}

.mod_newsflash{*zoom:1;position: relative;margin: 0 0 9px;padding: 20px;background:#dcf7ee;font-size: 13px;line-height: 1.3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 0 3px #5e9d88;-moz-box-shadow:0 0 3px #5e9d88;box-shadow:0 0 3px #5e9d88;}
.mod_newsflash:before,.mod_newsflash:after{display:table;content:"";}
.mod_newsflash:after{clear:both;}
.mod_newsflash p.title{font-size: 24px;line-height: 1;color: #e78729;font-weight: bold;margin: 0 0 17px;}
.mod_newsflash article{margin: 0 0 18px;padding: 0 0 31px;background: url(../_img/decor.png) no-repeat bottom;}
.mod_newsflash article .thumbnail{margin: 0 0 10px;}
.mod_newsflash article .thumbnail img{border: 2px solid #22614b;}
.mod_newsflash article .thumbnail a:hover img{border-color: #e78729;}
.mod_newsflash article h2{font-weight: bold;margin: 0 0 10px;}
.mod_newsflash article p{margin: 0 0 10px;line-height: 1.2;}
.mod_newsflash article time{color: #e78729;}
.mod_newsflash article nav a{display: inline-block;padding: 0 0 0 14px;font-weight: bold;background: url(../_img/li.png) no-repeat 0 3px;}
.mod_newsflash .more{margin: -12px 0 0;}
.mod_newsflash .more a{display: inline-block;padding: 0 0 0 14px;font-weight: bold;font-size: 12px;background: url(../_img/li.png) no-repeat 0 3px;}

/* SLIDER > */
.mod_custom-slideshow-bottom{position:relative;margin:0 0 9px 0;height:145px;background:url(../_img/bg-slider-bottom.png) no-repeat;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 0 3px #5e9d88;-moz-box-shadow:0 0 3px #5e9d88;box-shadow:0 0 3px #5e9d88;}
#ie6 .mod_custom-slideshow-bottom{overflow:hidden;}
.mod_custom-slideshow-bottom .title{padding:12px 0 20px 75px;color:#fff;font-weight:bold;text-transform:uppercase;}
.mod_custom-slideshow-bottom .more{position:absolute;top:9px;right:84px;}
.mod_custom-slideshow-bottom .more a{font-size:11px;color:#fff;padding:0 0 0 12px;font-weight:bold;background:url(../_img/li.png) no-repeat left;}
#ie6 .mod_custom-slideshow-bottom .more a{background-image:url(../_img/li.gif);}
.mod_custom-slideshow-bottom .scrollable{position:relative;overflow:hidden;width:700px;height:145px;}
.mod_custom-slideshow-bottom .scrollable .items{width:20000em;position:absolute;}
.mod_custom-slideshow-bottom .scrollable .items div{float:left;width:625px;height:145px;padding:0 0 0 75px;}
.mod_custom-slideshow-bottom .scrollable .items div img{border:2px solid #bae1d4;margin:0 5px 0 0;}
.mod_custom-slideshow-bottom .scrollable .items div a:hover img{border:2px solid #90b0a5;}
.mod_custom-slideshow-bottom  .slide-left{position:absolute;top:0;left:0;width:62px;height:145px;background:url(../_img/bg-slider-mask_02.png) no-repeat;}
.mod_custom-slideshow-bottom  .slide-right{position:absolute;top:0;right:0;width:62px;height:145px;background:url(../_img/bg-slider-mask_02.png) no-repeat right;}
.mod_custom-slideshow-bottom .prev,.mod_custom-slideshow-bottom .next{position:absolute;top:49px;width:34px;height:46px;background:url(../_img/arr-slider_02.png) no-repeat;cursor:pointer;}
.mod_custom-slideshow-bottom .prev{left:6px;}
.mod_custom-slideshow-bottom .prev:hover{background-position:left bottom;}
.mod_custom-slideshow-bottom .next{right:5px;background-position:right top;}
.mod_custom-slideshow-bottom .next:hover{background-position:right bottom;}

/* BREADCRUMBS > */
.mod_breadcrumbs li{display:inline;color:#525252;font-weight:bold;white-space:nowrap;}
.mod_breadcrumbs li a{color:#525252;text-decoration:none;font-weight:normal;padding:0 14px 0 0;margin:0 2px 0 0;background:url(../_img/li.png) no-repeat right;}
.mod_breadcrumbs li a:hover{text-decoration:underline;}

/* SIDEBAR > */
.mod_custom-produktove-menu{position:relative;padding:5px 5px 6px 5px;margin:0 0 9px 0;background:#dbf6ed;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 0 3px #5e9d88;-moz-box-shadow:0 0 3px #5e9d88;box-shadow:0 0 3px #5e9d88;}
.mod_custom-produktove-menu .title{font-size:13px;font-weight:bold;color:#e78729;padding:9px 10px 12px 18px;margin:0 0 9px 0;background:url(../_img/gradient_01.png) repeat-x bottom;}
.mod_custom-produktove-menu menu{padding:10px 18px;}
.mod_custom-produktove-menu menu menu{padding:0 0 4px 15px;}
.mod_custom-produktove-menu li a{display:inline-block;padding:2px 0 3px 14px;font-weight:bold;text-decoration:none;background:url(../_img/li.png) no-repeat 0 5px;}
.mod_custom-produktove-menu li.act a, .mod_custom-produktove-menu li a:hover{color:#e78729;}
.mod_custom-produktove-menu li li a,.mod_custom-produktove-menu li.act li a{font-size:11px;font-weight:normal;text-decoration:none;color:#22614b;padding-bottom:0;}
.mod_custom-produktove-menu li.act li.act a, .mod_custom-produktove-menu li.act li a:hover{color:#e78729;}

.mod_custom-button-menu{padding:0 0 7px 0;}
.mod_custom-button-menu li{padding:0 0 2px 0;}
.mod_custom-button-menu a{position:relative;display:block;height:47px;line-height:47px;color:#fff;font-weight:bold;text-decoration:none;padding:0 0 0 22px;background:url(../_img/btn-menu.png) no-repeat;overflow:hidden;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 0 3px #5e9d88;-moz-box-shadow:0 0 3px #5e9d88;box-shadow:0 0 3px #5e9d88;}
.mod_custom-button-menu a span{font-size:11px;font-weight:normal;}
.mod_custom-button-menu li.act a, .mod_custom-button-menu a:hover, .mod_custom-button-menu li#menuitem567 a {background-position:bottom;}
.mod_custom-button-menu li.act a:hover{background-position:top;}

.mod_custom-basket{position:relative;margin:0 0 10px 0;padding:0 0 10px 0;background:#f8a13a url(../_img/bg-basket.png) repeat-x bottom;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.mod_custom-basket .name{position:relative;color:#fff;font-size:13px;font-weight:bold;padding:11px 62px 16px 13px;background:#fc9430;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;}
.mod_custom-basket .login{position:absolute;top:12px;right:13px;font-weight:bold;color:#22614b;}
.mod_custom-basket .result{font-weight:bold;font-size:11px;padding:11px 14px 7px 14px;}
.mod_custom-basket .more{text-align:center;}
.mod_custom-basket .more a{display:block;width:208px;height:33px;line-height:33px;font-weight:bold;font-size:11px;text-transform:uppercase;color:#525252;text-decoration:none;text-align:center;margin:0 auto;background:url(../_img/btn-basket.png) no-repeat;}
.mod_custom-basket .more a:hover{background-position:bottom;}

/* FOOTER > */
#page-footer{position:relative;width:1216px;margin:0 auto;text-align:left;padding:30px 0 0 0;min-height:81px;background:url(../_img/bg-footer.png) no-repeat;}
#ie6 #page-footer{height:81px;}
.menu-nav-footer{padding:0 0 15px 8px;}
.menu-nav-footer li{display:inline;font-weight:bold;color:#fff;padding:0 0 0 5px;}
.menu-nav-footer li:before{content:'| ';}
.menu-nav-footer li:first-child:before{content:'';}
.menu-nav-footer li a{color:#fff;margin:0 0 0 5px;text-decoration:none;}
.menu-nav-footer li a:hover{text-decoration:underline;}
#page-footer .copy{color:#fff;font-size:11px;padding:0 0 15px 18px;}
#page-footer .copy a{color:#fff;}
#page-footer .xart{position:absolute;top:33px;right:15px;text-align:right;padding:0 88px 0 0;font-size:11px;line-height:13px;color:#fff;}
#page-footer .xart a{color:#fff;}
#page-footer .xart img{position:absolute;top:2px;right:0;}

/* ESHOP > */
#eshop{*zoom:1;position: relative;margin: 0 0 9px;padding:5px 29px 30px 29px;line-height:130%;background:#b6ded0 url(../_img/bg-content-full.png) no-repeat;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 0 3px #5e9d88;-moz-box-shadow:0 0 3px #5e9d88;box-shadow:0 0 3px #5e9d88;}
#eshop:before,#eshop:after{display:table;content:"";}
#eshop:after{clear:both;}
#eshop h1, #eshop .title-main{font-size:16px;font-weight:bold;color:#e77100;padding:18px 20px 16px 20px;margin:0 -20px 10px -20px;background:url(../_img/gradient_02.png) repeat-x bottom;}
#eshop .eshop-products-category{width:186px;height:277px;float:left;text-align:center;margin:0 0 10px 10px;border:1px solid #559c84;}
#eshop .eshop-products-category h2{padding:8px 5px 4px 5px;background:#fc9532;border-bottom:1px solid #559c84;}
#eshop .eshop-products-category h2 a{display:inline-block;height:30px;color:#fff;overflow:hidden;}
#eshop .eshop-products-category .thumbnail{padding:15px 0 0 0;height:166px;}
#eshop .eshop-products-category .thumbnail img{border:2px solid #edf1ee;}
#eshop .eshop-products-category .thumbnail a:hover img{border:2px solid #90b0a5;}
#eshop .eshop-products-item{position:relative;width:186px;height:260px;float:left;text-align:center;margin:0 0 10px 10px;border:1px solid #559c84;}
#eshop .eshop-products-item .thumbnail{padding:14px 0 5px 0;}
#eshop .eshop-products-item .thumbnail img{border:2px solid #edf1ee;}
#eshop .eshop-products-item .thumbnail a:hover img{border:2px solid #90b0a5;}
#eshop .eshop-products-item h2{height:30px;overflow:hidden;margin:0 0 7px 0;}
#eshop .eshop-products-item .description{font-size:11px;line-height:15px;padding:0 10px;margin:0 0 11px 0;height:30px;overflow:hidden;}
#eshop .eshop-products-item .price{font-size:16px;font-weight:bold;color:#d90000;}
#eshop .eshop-products-item .akce{position:absolute;top:0;left:0;width:47px;height:47px;background:url(../_img/sticker-akce.gif) no-repeat;}
#eshop .eshop-products-item .akce{position:absolute;top:0;left:0;width:47px;height:47px;background:url(../_img/sticker-akce.gif) no-repeat;}
#eshop .eshop-products-item .novinka{position:absolute;top:0;left:0;width:74px;height:74px;background:url(../_img/sticker-novinka.gif) no-repeat;}
#eshop .eshop-products-item .top{position:absolute;top:0;left:0;width:101px;height:101px;background:url(../_img/sticker-top.gif) no-repeat;}


/* ESHOP DETAIL > */
#eshop-detail{*zoom:1;position: relative;margin: 0 0 9px;padding:30px;line-height:130%;background:#b6ded0 url(../_img/bg-content-full.png) no-repeat;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 0 3px #5e9d88;-moz-box-shadow:0 0 3px #5e9d88;box-shadow:0 0 3px #5e9d88;}
#eshop-detail:before,#eshop-detail:after{display:table;content:"";}
#eshop-detail:after{clear:both;}
#eshop-detail .detail-image{width:220px;padding:39px 0 0 0;float:left;font-size:11px;color:#22614b;}
#eshop-detail .detail-image img{border:2px solid #edf1ee;}
#eshop-detail .detail-image a:hover img{border:2px solid #90b0a5;}
#eshop-detail .thumbnails{padding:10px 0 2px 0;}
#eshop-detail .thumbnails li{display:inline;}
#eshop-detail .thumbnails li img{margin:0 3px 3px 0;}
#eshop-detail p.zoom{padding:7px 0 0 0;}
#eshop-detail p.zoom a{display:inline-block;padding:0 0 0 30px;line-height:26px;background:url(../_img/zoom.png) no-repeat;}
#eshop-detail .detail-description{width:410px;float:right;padding:38px 0 0 0;}
#eshop-detail h1{color:#e77100;font-size:16px;line-height:19px;padding:0 0 5px 0;}
#eshop-detail p.code{color:#6b6b6b;padding:0 0 14px 0;font-style:italic;}
#eshop-detail p.excerpt{line-height:14px;padding:0 0 26px 0;}
#eshop-detail table.price{margin:0 0 15px 0;}
#eshop-detail table.price td{vertical-align:bottom;padding:0 20px 5px 0;}
#eshop-detail table.price span{color:#d90000;font-size:20px;font-weight:bold;line-height:16px;}
#eshop-detail table.options{border-top:1px dotted #63696e;}
#eshop-detail table.options{width:285px;margin:0 0 23px 0;}
#eshop-detail table.options td{vertical-align:middle; padding:3px 0 3px 5px; font-size:11px; font-weight:bold; color:#525252; border-bottom:1px dotted #63696e;}
#eshop-detail table.options select{width:82px;font-size:11px;color:#525252;}
#eshop-detail .buy{font-size:11px;font-weight:bold;color:#525252;padding:0 0 25px 0;}
#eshop-detail .buy input.text{width:37px;padding:6px;text-align:center;font-weight:bold;float:left;font-size:12px;margin:0 7px 0 0;}
#eshop-detail .buy input.normal-button{text-transform:uppercase;min-width:60px;height:30px;line-height:30px;margin:0 0 0 5px;}
#ie6 #eshop-detail .buy input.submit{width:80px;}
#eshop-detail ul.more{position:relative;width:242px;padding:12px 20px 10px 20px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:#85a399 0px 1px 4px;-moz-box-shadow:#85a399 0px 1px 4px;box-shadow:#85a399 0px 1px 4px;background:#c4e7db;background:-webkit-gradient(linear,0 0,0 bottom,from(#dcf7ee),to(#b6ded0));background:-moz-linear-gradient(#dcf7ee,#b6ded0);background:linear-gradient(#dcf7ee,#b6ded0);-pie-background:linear-gradient(#dcf7ee,#b6ded0);}
#eshop-detail ul.more a{display:block;padding:7px 0 11px 13px;border-top:1px dotted #7d8a8a;color:#000;font-size:11px;min-height:0;background:url(../_img/li.png) no-repeat 2px 10px;}
#ie6 #eshop-detail ul.more a{height:0;}
#eshop-detail ul.more li:first-child a{border-top:0;}
#eshop-detail ul.more a:hover{color:#22614b;text-decoration:underline;}
#eshop-detail  .tabs-bottom{clear:both;}
#eshop-detail  menu.tabs{padding:19px 0 0 0;height:40px;background:url(../_img/bg-tabs.gif) repeat-x bottom;}
#eshop-detail  menu.tabs li{float:left;margin:0 0 0 -4px;}
#eshop-detail  menu.tabs li a{display:inline-block;color:#22614b;font-weight:bold;text-transform:uppercase;padding:0 0 0 9px;background:url(../_img/btn-tab.png) no-repeat;cursor:pointer;}
#eshop-detail  menu.tabs li a.current{color:#e6790f;background-position:left bottom;}
#eshop-detail  menu.tabs li a span{display:inline-block;height:35px;line-height:35px;padding:5px 44px 0 35px;background:url(../_img/btn-tab.png) no-repeat right top;cursor:pointer;}
#eshop-detail  menu.tabs li a.current span{background-position:right bottom;}
#eshop-detail .panes{padding:20px 5px 0  5px;}

/* BASKET > */
#basket{position:relative;}
#basket h1{font-size:16px;font-weight:bold;color:#e77100;padding:18px 20px 16px 20px;margin:0 -23px 10px -41px;background:url(../_img/gradient_02.png) repeat-x bottom;}
#basket h3{font-size:15px;padding:0 0 18px 0;color:#e77100;}
#basket .back .normal-button{position:absolute;top:26px;right:20px;}
#basket table.products{width:100%;margin-bottom:5px;}
#basket table.products a{color:#000;}
#basket table.products td{border-top:1px solid #A8958C;vertical-align:middle;padding:5px 0;}
#basket table.products th{white-space:nowrap;font-size:11px;padding-top:15px;padding-bottom:15px;}
#basket table.products th.product{width:190px;}
#basket table.products input.text{position:relative;border:1px solid #b9b595;margin:0;padding:3px;height:15px;width:25px;font-weight:bold;color:#000;text-align:center;background:#fff;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 0 3px #b9b595;-moz-box-shadow:0 0 3px #b9b595;box-shadow:0 0 3px #b9b595;}
#basket table.products tr.sum td{border-top:1px solid #a8958c;padding-top:10px;}
#basket table.products .remove{position:relative;top:1px;display:inline-block;width:20px;height:20px;background:url(../_img/btn-remove.gif) no-repeat bottom;cursor:pointer;}
#basket table.products .remove:hover{background-position:top;}
#basket div.convert{height:55px;padding:22px 0 0 0;}
#basket div.convert .shopping{float:left;font-size:11px;color:#6B6B6B;}
#basket div.convert .shopping a{color:#000;font-weight:bold;text-transform:uppercase;}
#basket div.convert input.violet-button{position:relative;top:-7px;float:right;font-size:11px;}
#basket .delivery{padding:0 0 13px 0;}
#basket .delivery .col-left{float:left;width:250px;}
#basket .delivery .col-right{float:right;width:250px;}
#basket .delivery label{clear:both;display:block;}
#basket .delivery label input{float:left;width:15px;margin:0 5px 0 0;padding:0;}
#basket .delivery label span{float:left;width:230px;padding:0 0 13px 0;display:block;}
#basket .delivery table.sum-table{width:100%;font-weight:bold;clear:both;border-top:1px solid #a8958c;border-bottom:1px solid #a8958c;}
#basket .delivery table.sum-table td{padding:5px 0;}
#basket .delivery table.sum-table tr.price td{font-size:14px;color:#c10000;padding-top:10px;padding-bottom:10px;border-top:1px solid #a8958c;}
#basket div.user{padding:20px 0 35px 0;}
#basket div.user .register input{float:left;margin:1px 7px 0 0;padding:0;}
#basket div.user .register span{display:block;float:left;}
#basket div.user .group-labels{clear:both;padding:15px 0 43px 0;}
#basket div.user .group-labels label{display:block;width:180px;height:55px;float:left;}
#basket div.user .group-labels input{position:relative;top:3px;border:1px solid #b9b595;margin:0;padding:3px;height:15px;width:150px;color:#000;background:#fff;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 0 3px #b9b595;-moz-box-shadow:0 0 3px #b9b595;box-shadow:0 0 3px #b9b595;}
#basket div.user .group-labels select{position:relative;top:3px;border:1px solid #b9b595;margin:0;padding:3px;height:23px;width:158px;color:#000;background:#fff;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 0 3px #b9b595;-moz-box-shadow:0 0 3px #b9b595;box-shadow:0 0 3px #b9b595;}
#basket div.user p.required{clear:both;font-size:11px;}
#basket .notes{padding:0 0 40px 0;}
#basket .notes h3 span{font-size:12px;font-weight:normal;color:#000;font-family:Arial, Helvetica, sans-serif;}
#basket .notes textarea{position:relative;  padding:5px;margin:9px 0 0 0;width:500px;height:115px;font-size:12px;color:#000;background:#fff;border:1px solid #b9b595;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 0 3px #b9b595;-moz-box-shadow:0 0 3px #b9b595;box-shadow:0 0 3px #b9b595;}
#basket .additional{padding:0 0 20px 0;}
#basket .additional label{display:block;}
#basket .summary{padding:13px 20px 0 17px;height:44px;background:#e5e1be;border-top:1px solid #b9b595;border-bottom:1px solid #b9b595;}
#basket .summary .shopping{float:left;font-size:11px;padding:9px 0 0 0;color:#6B6B6B;}
#basket .summary .shopping a{color:#000;font-weight:bold;text-transform:uppercase;}
#basket .summary .normal-button{text-transform:uppercase;float:right;height:32px;line-height:32px;text-align:center;vertical-align:middle;width:140px;}

/* BB */
#basket .recalculate { text-align: right; }
#basket .summary { margin-top: 20px; }

/* JC rozcestník */
.rozcestnik h2 { color: #22614b !important; font-size: 12px !important; font-weight: bold; margin-top: 20px; }
.rozcestnik .pobocka { width: 188px; height: 176px; -moz-border-radius: 6px; border-radius: 6px; border: 6px solid #41846d; margin: 0 12px 0 0; float: left; }
.rozcestnik .pobocka a { display: block; width: 100%; height: 100%; text-decoration: none !important; }
.rozcestnik .pobocka a h3 { background: #709b87 url('../_img/h3.png') no-repeat; height: 37px; width: 188px; margin: 0; padding: 0 !important; line-height: 37px !important; }
.rozcestnik .pobocka a h3 span { padding: 0 0 0 15px; font-size: 14px; font-weight: bold; color: #ffffff; text-decoration: none;  }

